<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测试</title>
</head>

<body>

  <h1>测试</h1>
  <a href="http://localhost:8080/public/index/test">本页访问地址</a>


  <script src="/public/static/js/jquery-1.9.1.min.js"></script>

  <script>
    $(document).ready(function () {
      $.ajax({
        type: "post",
        url: "/public/index/test/test",
        data: "name=John&location=Boston",
        //  async: false,

        success: function (msg) {
          console.log(msg);

        }
      });


    })

  </script>
</body>

</html>

